<div
  class="book-wrapper"
  *ngFor="let book of bookData$ | async; index as i"
  [style.background]="book.isAvailable ? '' : 'grey'"
>
  <h1>{{ book.name }}</h1>
  <p>{{ book.description }}</p>
  <h2>{{ book.price | currency }}</h2>
  <h3>{{ book.category }}</h3>
  <button (click)="onBuy(book)" [disabled]="!book.isAvailable">Buy</button>
  <input
    placeholder="Count"
    [(ngModel)]="book.count"
    [disabled]="!book.isAvailable"
  />
  <a [routerLink]="'product/' + i">See the cart</a>
</div>
