<h1>Корзина</h1>

<button (click)="sort()">Sort</button>

<select [(ngModel)]="selectedOption">
  <option value="price">Price</option>
  <option value="count">Count</option>
  <option value="name">Name</option>
</select>

<button (click)="removeAll()" appChangeOnclickElement [color]="'red'">
  Remove all
</button>

<h1>Sum: {{ totalSum }}</h1>

<h1>Quantity: {{ totalQuantity }}</h1>

<app-cart-item-component
  *ngIf="basketData.length > 0; else emptyBlock"
  [flag]="flag"
  [term]="selectedOption"
  [booksData]="booksData"
  (removeBookEvent)="removeBook($event)"
></app-cart-item-component>

<ng-template #emptyBlock>You not bought anything</ng-template>

<a routerLink="/order" *ngIf="basketData[0]">Сделать заказ</a>
